<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <p class="text-info">玩法提示：所选号码与开奖号码的和数相同（顺序不限），奖金如下</p>

    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
          <th>和数</th>
          <th>0或27</th>
          <th>1或26</th>
          <th>2或25</th>
          <th>3或24</th>
          <th>4或23</th>
          <th>5或22</th>
          <th>6或21</th>
          <th>7或20</th>
          <th>8或19</th>
          <th>9或18</th>
          <th>10或17</th>
          <th>11或16</th>
          <th>12或15</th>
          <th>13或14</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>奖金(元)</td>
          <td>1024</td>
          <td>345</td>
          <td>172</td>
          <td>104</td>
          <td>69</td>
          <td>49</td>
          <td>37</td>
          <td>29</td>
          <td>23</td>
          <td>19</td>
          <td>16</td>
          <td>15</td>
          <td>15</td>
          <td>14</td>
        </tr>
        </tbody>
      </table>
    </div>

    <ul class="list-unstyled number-list clearfix" ng-click="selectNumber($event);">
      <li ng-repeat="i in sumList" data-index="{{i}}">{{i}}</li>
    </ul>

    <!--过滤条件-->
    <hr/>
    <form class="form-inline margin-lg">
      <div class="form-group">
        <label>
          过滤掉近期开奖（指和值和组三和组六）
          <input type="text" name="filterRecent" ng-model="filterRecent"/>
        </label>
      </div>
    </form>

    <!--中奖率-->
    <div class="lottery-box-layout">
      中奖率：<span>{{winningRatePercent}}</span>
      <a href="" ng-click="winningInfo();" class="margin-left-lg">详细信息</a>
    </div>

    <!--详细信息-->
    <hr/>
    <div class="lottery-box-layout">
      <button class="btn btn-primary" ng-click="saveModel">保存</button>

      <div class="table-responsive margin-top-lg">
        <table class="table table-bordered table-striped table-hover">
          <thead>
          <tr>
            <th>序号</th>
            <th>期数</th>
            <th>开奖号码</th>
            <th>和值</th>
            <th>奖金</th>
            <th>回报率</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="data in historyDataRate">
            <td>{{$index + 1}}</td>
            <td>{{data.period}}</td>
            <td>{{data.number}}</td>
            <td>{{data.bonus}}</td>
            <td>{{data.returns}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <button class="btn btn-primary" ng-click="saveModel">保存</button>
    </div>
  </div>
</div>

