<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <p class="text-info">玩法提示：所选号码与开奖号码的和数相同（顺序不限），奖金如下</p>
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
          <th>和数</th>
          <th>0或27</th>
          <th>1或26</th>
          <th>2或25</th>
          <th>3或24</th>
          <th>4或23</th>
          <th>5或22</th>
          <th>6或21</th>
          <th>7或20</th>
          <th>8或19</th>
          <th>9或18</th>
          <th>10或17</th>
          <th>11或16</th>
          <th>12或15</th>
          <th>13或14</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>奖金(元)</td>
          <td>1024</td>
          <td>345</td>
          <td>172</td>
          <td>104</td>
          <td>69</td>
          <td>49</td>
          <td>37</td>
          <td>29</td>
          <td>23</td>
          <td>19</td>
          <td>16</td>
          <td>15</td>
          <td>15</td>
          <td><14/td>
        </tr>
        </tbody>
      </table>
    </div>

    <ul>
      <li>0</li>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
      <li>11</li>
      <li>12</li>
      <li>13</li>
      <li>14</li>
      <li>15</li>
      <li>16</li>
      <li>17</li>
      <li>18</li>
      <li>19</li>
      <li>20</li>
      <li>21</li>
      <li>22</li>
      <li>23</li>
      <li>24</li>
      <li>25</li>
      <li>26</li>
      <li>27</li>
    </ul>
  </div>
</div>

