<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <p class="text-info">
      玩法提示：当期开奖号码的三位数各不相同，且投注号码与当期开奖号码相同（顺序不限），即中奖。奖金为固定奖金 173元
    </p>
    <hr/>
    <h3>选择要投注的组合（至少选择三个）</h3>
    <div alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
      {{alert.message}}
    </div>

    <ul class="list-unstyled number-list clearfix" ng-click="selectNumber($event);">
      <li ng-repeat="i in zx6List" data-index="{{i}}">{{i}}</li>
    </ul>

    <!--过滤条件-->
    <hr/>
    <form class="form-inline margin-lg">
      <div class="form-group">
        <label>
          过滤掉近期组六开奖
          <input type="text" name="filterRecent" ng-model="fucai3d.filterRecent" ng-change="winningRate()"/>
        </label>
      </div>
    </form>

    <!--中奖率-->
    <div class="lottery-box-layout">
      中奖率：{{winningRatePercent}}，
      总回报率：{{returnsPercent}}
      <a href="" ng-click="winningInfo();" class="margin-left-lg">详细信息</a>
    </div>

    <!--详细信息-->
    <div class="ng-hide" ng-show="showWinningInfo">
      <hr/>
      <div class="lottery-box-layout form-inline">
        <label>
          中奖率：{{winningRatePercent}}，
          总回报率：{{returnsPercent}}
        </label>
        <select name="recentPeriod" class="form-control margin-left-hg" ng-model="fucai3d.recentPeriod" ng-options="c.label for c in recentPeriods"
                ng-change="winningInfo();">
        </select>
        <button class="btn btn-primary margin-left-lg" ng-click="saveModel">保存</button>

        <div class="table-responsive margin-top-lg">
          <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
              <th>序号</th>
              <th>期数</th>
              <th>开奖号码</th>
              <th>号码形态</th>
              <th>历史投入</th>
              <th>奖金</th>
              <th>回报率</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="data in historyDataRate">
              <td>{{$index + 1}}</td>
              <td>{{data.period}}</td>
              <td>{{data.number}}</td>
              <td>{{data.shape}}</td>
              <td>{{data.investment}}</td>
              <td ng-class="{'text-red': !!data.bonus, 'text-bold': !!data.bonus}">{{data.bonus || 0}}</td>
              <td ng-class="{'text-red': !!data.returns, 'text-bold': !!data.returns}">{{data.returns || '0%'}}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <button class="btn btn-primary" ng-click="saveModel">保存</button>
      </div>
    </div>
  </div>
</div>

