<div class="container-fluid lottery-container">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <div class="group-panel">
        <!-- group tab start-->
        <ul class="group-tab clearfix list-unstyled" id="tabHeaderContainer">

        </ul>
        <!-- group tab end-->

        <div class="group-tab-add" style="left: 225px;" ng-mouseenter="showGroupTabs=true;" ng-mouseleave="showGroupTabs=false;">
          <span class="glyphicon glyphicon-plus"></span>

          <div class="add-tabs ng-hide" ng-show="showGroupTabs">
            <a href="" style="left: 35px;top: -55px;" ng-click="addTab('sum')">和值</a>
            <a href="" style="left: 9px;top: -29px;" ng-click="addTab('zx')">直选</a>
            <a href="" style="left: -48px;top: -2px;" ng-click="addTab('zx3')">组选3</a>
          </div>
        </div>

        <!-- group content start-->
        <div class="group-content">

        </div>
        <!-- group content end-->
      </div>
    </div>
  </div>

</div>

<script type="text/ng-template" id="tabHeader">
  <li class="tab-add">
    <div>
      <span class="glyphicon glyphicon-plus"></span>
    </div>
  </li>
  <li>
    <div class="tab">
      <span class="num">{{tabHeader.num}}</span>
      <span class="title">{{tabHeader.title}}</span>
    </div>
    <a href="" class="close" ng-click="tabHeader.close()">&times;</a>
  </li>
</script>

