/**
 * 处理一些样式的前缀
 * see Bootstrap  'less/mixins/vendor-prefixes.less'
**/
/**
* http://www.lavishbootstrap.com/?image_url=http://design-seeds.com/palettes/12/SpringTones505.jpg
* 官网提供的默认值为 #28363d   用以下公式计算为 #283637
**/
html,
body {
  height: auto;
  min-height: 100%;
}
html {
  position: relative;
}
body {
  padding-top: 50px;
}
/**
* 外边距
**/
.margin-top-md {
  margin-top: 10px;
}
.margin-top-lg {
  margin-top: 20px;
}
.margin-top-vl {
  margin-top: 30px;
}
.margin-top-hg {
  margin-top: 50px;
}
.margin-left-md {
  margin-left: 10px;
}
.margin-left-lg {
  margin-left: 20px;
}
.margin-left-hg {
  margin-left: 50px;
}
.margin-lg {
  margin: 20px;
}
/**
* 段落
**/
.paragraph p {
  line-height: 2em;
  text-indent: 2em;
}
.text-vertical-top {
  vertical-align: top;
}
.text-vertical-middle {
  vertical-align: middle;
}
.text-vertical-bottom {
  vertical-align: bottom;
}
/**
 * 字体样式
**/
.text-red {
  color: red;
}
.text-green {
  color: green;
}
.text-bold {
  font-weight: bold;
}
/**
 * ajax loading
**/
.ajax-loading-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  background-color: #ccc;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.ajax-loading {
  position: fixed;
  left: 50%;
  top: 50%;
  padding: 18px;
  background: url("../../images/loading_icon.gif") no-repeat;
  border: 1px solid #658b6f;
  -webkit-box-shadow: 0 0 5px 5px #99aead;
  box-shadow: 0 0 5px 5px #99aead;
  border-radius: 5px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
/**
 * 页面头部样式
**/
.navbar-inverse {
  background-color: #28363d;
  border-color: #141b1e;
  background-image: -webkit-linear-gradient(top, #32444c 0%, #28363d 100%);
  background-image: -o-linear-gradient(top, #32444c 0%, #28363d 100%);
  background-image: linear-gradient(to bottom, #32444c 0%, #28363d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff32444c', endColorstr='#ff28363d', GradientType=0);
}
.navbar-inverse .navbar-brand {
  color: #e0e7ea;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
}
.navbar-inverse .navbar-brand.active {
  color: #fff;
  font-weight: bold;
  background-color: #26333a;
}
.navbar-inverse .navbar-nav > li > a {
  color: #e0e7ea;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
}
.navbar-inverse .navbar-nav > li.active {
  font-weight: bold;
}
.navbar-inverse .navbar-nav > li.active a,
.navbar-inverse .navbar-nav > li.active a:hover,
.navbar-inverse .navbar-nav > li.active a:focus {
  background-color: #26333a;
}
/*
* 页面底部样式
*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer-assist {
  padding-top: 350px;
}
@media (min-width: 768px) {
  .footer-assist {
    padding-top: 301px;
  }
}
@media (min-width: 992px) {
  .footer-assist {
    padding-top: 256px;
  }
}
@media (min-width: 1200px) {
  .footer-assist {
    padding-top: 206px;
  }
}
.footer-links {
  background-color: #28363d;
  border-bottom: 1px solid #141b1e;
  background-image: -webkit-linear-gradient(top, #32444c 0%, #28363d 100%);
  background-image: -o-linear-gradient(top, #32444c 0%, #28363d 100%);
  background-image: linear-gradient(to bottom, #32444c 0%, #28363d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff32444c', endColorstr='#ff28363d', GradientType=0);
  padding: 10px 0;
}
.footer-copyright {
  background-color: #dee1dd;
  color: #6d9197;
  padding: 10px 0 0;
}
.links-item > li {
  float: left;
}
.links-item > li:first-child {
  margin-right: 20px;
}
.links-item-title {
  color: #658b66;
  font-size: 17px;
}
.links-item-content > span {
  display: inline-block;
  margin-right: 10px;
  margin-top: 2px;
}
.links-item-content a,
.links-item-content a:hover,
.links-item-content a:focus,
.links-item-content {
  color: #f6f9f7;
}
.masthead-button-links {
  margin-top: 30px;
}
.masthead-button-links a + a {
  margin-left: 20px;
}
.alert {
  padding-top: 10px;
  padding-bottom: 10px;
}
input[type="radio"],
input[type="checkbox"] {
  margin-top: 3px;
}
input[type="file"] {
  display: inline;
}
/**
 * 以下是一些通用的Angular 动画 css
**/
.animate-show {
  -webkit-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  opacity: 1;
}
.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
}
