<div class="footer-assist"></div>
<footer class="footer">
  <div class="footer-links">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <ul class="links-item clearfix list-unstyled">
            <li class="links-item-title"><strong>彩票站点</strong></li>
            <li class="links-item-content">
              <span>
                <a href="http://www.okooo.com/" target="_blank">澳客网</a>
              </span>
            </li>
          </ul>

          <ul class="links-item clearfix list-unstyled">
            <li class="links-item-title"><strong>支持我们</strong></li>
            <li class="links-item-content">
              <span>
                <a href="https://github.com/linder0209/lottery-analyses/issues/new" target="_blank">意见反馈</a>
              </span>
              <span>
                <a ng-href="/donate" target="_blank">爱心捐助</a>
              </span>
            </li>
          </ul>

        </div>
        <div class="col-sm-3">
          <p class="links-item-title"><strong>联系方式</strong></p>

          <p class="links-item-content">QQ群： E-mail：<a href="mailto:"></a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container text-center">
      <div>Lottery Analyses 系统</div>

      <p>Copyright © 2014-2015 Powered by Linder </p>
    </div>
  </div>
</footer>
